@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View Suggestions";
}
@model RestaurantsWebApp_AdamNeumiller.Models.UserRestaurant;
<div>
    <h1>Success!</h1>
    <p> Thanks @Model.UserName! Your recommendation for @Model.RestaurantName has been approved,  submitted, made visbile under the "View Suggestions" tab of the website. Have a great day! </p>
</div>